html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFF;
  color: #555;}




#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background:url('../style/foot.png');
background-size: cover;
  border-bottom: 1px solid #3d3d3d;
  height: 100%;}
  
#banner
{  background: transparent url(../style/soc.jpg) center no-repeat;
  width: 860px;
  height: 180px;
  margin-bottom: 20px;
  border: 10px solid #DDD;}
  #banner1
{  background: transparent url(../style/b2.jpg) center no-repeat;

  width: 860px;
  height: 180px;
  margin-bottom: 20px;
  border: 10px solid #DDD;}

    #banner2
{  background: transparent url(../style/lt.jpg) center no-repeat;
	background-size: cover;

  width: 860px;
  height: 180px;
  margin-bottom: 20px;
  border: 10px solid #DDD;}

.Bloc {
  width: 100%;
  height: 300px;
  text-align: center;
  font-family: 'Calibri','impact','Lucida Sans Unicode', 'Lucida Grande', sans-serif;

}

.Bloc ul li {
  list-style: none;
  margin-right: -10px;
  border:2px solid pink;
  margin-left: -16px;
  width: 100%;
  letter-spacing: 2px;
}
.sbloc  {
    width: 100%;
    height: 50px;
    font-size: 15px;
    padding-top: 20px;
    background-color:rgb(0,0,0,0.3);
    letter-spacing: 2px;
    color: blue;
    
}


#logo
{ width: 880px;
  position: relative;
  height: 140px;
  background:rgb(204, 255, 255,0.6);}

#logo #logo_text 
{ position: absolute; 
  top: 10px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #5E4238;}

#logo_text a:hover .logo_colour
{ color: #5E4238;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #B48A7C;}

#menubar
{ width: 872px;
  height: 45px;
  padding-right: 8px;
  background: #008055;
  border-top: 1px solid #3D3D3D;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 9px;
  height: 0px;
  list-style: none;
  margin: 8px 4px 0 4px;
transition-property: background-color;
transition-duration: 180ms;}


ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 20px 5px 20px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: #008055;
letter-spacing: 2px;} 

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
}


h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;
  color: #B48A7C;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: #B48A7C;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #B48A7C;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}






ul#menu li.selected a
{ height: 22px;
  padding-top: 14px; 
  transition-property: background-color,letter-spacing,border-bottom;
  transition-duration: 180ms; 
  display: inline-block;
  border:none;
  

   }
ul#menu li.selected1 a
{ height: 25px;
  padding-top: 14px; 
  transition-property: background-color,letter-spacing,border-bottom;
  transition-duration: 180ms; 
  display: inline-block;
  border:none;
  background-color: rgb(200, 225, 130,4);
  

   }
ul#menu li.selected
{ margin: 1px 4px 0 13px;
  background-color: blue;

}
ul#menu li.selected1
{ margin: 1px 4px 0 13px;
  background-color: blue;

}

ul#menu li.selected a:hover
{ background-color: rgb(24, 47, 231,0.3);
  color: #FFF;
  letter-spacing: 3px; 
  border:4px solid white;
  border-bottom: visible;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
 }

ul#menu li.selected1 a:hover
{ background-color: rgb(24, 47, 231,0.3);
  color: #FFF;
  letter-spacing: 3px; 
  border:4px solid white;
  border-bottom: visible;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
 }

ul#menu li a:hover
{ color: white;}
ul#menu li a .fas {
	margin-right: 5px;
}
#site_content
{ width: 880px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;} 


#content
{ text-align: left;
  width: 850px;
  padding: 0 0 0 5px;
  float: right;}
  
#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;

  
}


#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 114px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #000;
  border-top: 2px solid #2D2D2D;
  color: #FFF;}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #B48A7C;
  text-decoration: none;}



.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

